[
    {chat_p, [
        {server_id, 1},
        {port, 20000},
        {rpc_port, 20001}
    ]},

    {lager, [
        {log_root, "./log"},
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "info.log"}, {level, info}, {size, 104857600}, {date, "$D0"}, {count, 30}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}, {size, 104857600}, {date, "$D0"}, {count, 30}]}
        ]}
    ]}
].